$primary: #6a040f;
$secondary: #ffba08;
$secondaryDark: #faa307;
$darkColor: #03071e;
$primaryDark: #370617;
$lightBackground: #f3f8fb;
$lightGray: #f7f7f7;
$errorColor: #e74c3c;
$successColor: #3ab139;
$infoColor: #035d9a;
$infoColorDark: #085081;
$textColorLight: #bdbcbc;
$textColorNormal: #8d97ad;
