.table-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.datatable {
    width: 100% !important;
    th {
        height: 40px;
    }

    tbody {
        td {
            padding: 8px 10px;
            border-top: 1px solid rgba(120, 130, 140, 0.13) !important;
        }
    }
}

table.dataTable tbody td.select-checkbox:before {
    top: auto;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
    background: $lightGray;
}

.datatable-button {
    margin-top: 10px;
    // .dt-buttons {
    //     float: right;
    // }
}

.filter-wrapper {
    margin-top: 0px;
}

div.dt-buttons {
    float: none;
    display: flex;
    justify-content: center;
}

.datatable-primary thead {
    background: $primaryDark;
    color: white;
}

.datatable-normal thead {
    background: $lightBackground;
    color: $darkColor;
}

.dataTables_paginate {
    .pagination {
        li {
            .page-link {
                color: $primary;
                &:focus {
                    box-shadow: none;
                }
            }
            &.previous,
            &.next {
                .page-link {
                    border-radius: 0.25rem;
                }
            }
            &.previous {
                .page-link {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }
            &.next {
                .page-link {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
            }

            &.disabled {
                .page-link {
                    background: $lightGray;
                    cursor: not-allowed;
                }
            }

            &.active {
                .page-link {
                    background-color: $primary;
                    color: white;
                }
            }
        }
    }
}

table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 0px;
}

.dt-buttons {
    .btn {
        margin-right: 2px;
    }
}

.datatable-with-border thead th {
    border-right: 1px solid $lightGray;
    border-color: darken($lightGray, 10%);
}

.datatable-with-border thead th:first-child {
    border-left: 1px solid darken($lightGray, 10%);
}

.datatable-with-border tbody td {
    border-right: 1px solid $lightGray;
    border-color: darken($lightGray, 10%);
}

.datatable-with-border tbody td:first-child {
    border-left: 1px solid darken($lightGray, 10%);
}

.datatable-with-border {
    border-bottom: 1px solid darken($lightGray, 10%);
    border-top: 1px solid darken($lightGray, 10%);
}
