.form-title {
    h3 {
        font-size: 1.1rem;
    }
}

.form-wrapper {
    label {
        font-weight: 500;
        color: #666;
        display: inline-block;
        margin-bottom: 4px;
    }

    .form-control,
    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    .form-control {
        font-size: 14px;
        border: 1px solid rgba(170, 170, 170, 0.3);
        padding: 10.72px 12.8px;
        padding: 0.67rem 0.8rem;
    }

    .invalid-input {
        border-color: $errorColor;
        &::placeholder {
            color: $errorColor;
        }
    }
}
