.page-title-area {
    padding: 0 30px;
    background: #fff;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 4px;
        height: 36px;
        background: $primary;
        transform: translateY(-50%);
    }
    .page-title {
        font-size: 24px;
        font-weight: 300;
        color: #313b3d;
        letter-spacing: 0;
        margin-right: 30px;
    }

    .breadcrumbs-area {
        .breadcrumbs {
            margin-top: 4px;
            li {
                display: inline-block;
                a,
                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    color: $primary;
                    letter-spacing: 0;
                    margin-right: 16px;
                    position: relative;
                }
                a {
                    &::before {
                        content: "/";
                        color: #768387;
                        position: absolute;
                        right: -13px;
                        top: 0;
                    }
                }
                span {
                    margin-right: 0;
                    color: #768387;
                    text-transform: capitalize;
                }
            }
        }
    }

    .user-profile {
        margin-right: -30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        background: $primary;
        padding: 17px 38px;
        position: relative;
        img {
            &.avatar {
                height: 35px;
                width: 35px;
                border-radius: 50%;
                margin-right: 12px;
            }
        }
        .user-name {
            font-size: 17px;
            font-weight: 500;
            color: #fff;
            letter-spacing: 0;
            cursor: pointer;
            user-select: none;
            i {
                margin-left: 10px;
                font-size: 21px;
                vertical-align: middle;
                position: relative;
            }
        }
    }
}
